<html>
    <head>
        <title>Order Form</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        
        <script src="appCode.js"></script>
        <link href="main.css" rel="stylesheet" type="text/css">
    </head>
    <header>
        <h2>AngularJS Order Form</h2>
    </header>
    <body ng-app="foodOrderApp" ng-controller="firstController">
        <div id="body">
            <h2>What do they want?</h2>
        <div>
            <div>
            <button type="button" data-toggle="modal" data-target="#toppingModal" OpenLargeModal class="btn btn-primary" ng-click="addFoodItem('pizza')">Pizza</button>
            <button type="button" data-toggle="modal" data-target="#toppingModal" OpenLargeModal class="btn btn-primary" ng-click="addFoodItem('cake')">Cake</button>
            <button type="button" data-toggle="modal" data-target="#toppingModal" OpenLargeModal class="btn btn-primary" ng-click="addFoodItem('taco')">Taco</button>
            </div>
        </div>
            <div ng-show="foodOrderItems.length > 0">
                <br>
                <br>
                <div>
                <table class="table table-striped header-head" >
                        <thead>
                            <tr>
                                <th class="header-top">Name</th>
                                <th class="header-top">Base</th>
                                <th class="header-top">Total</th>
                                <th class="header-top headerItem">Ingredients</th>
                                <th class="header-top headerItem">Actions</th>
                                <th class="header-top headerItem">Notes</th>
                            </tr>
                        </thead>                    
                    <tbody class="header-top">
                        <tr ng-repeat="foodOrderItem in foodOrderItems">
                            <td>
                                {{foodOrderItem.name}}
                            </td>
                            <td>
                                &#36;{{foodOrderItem.basePrice}}
                            </td>
                            <td>
                                &#36;{{foodOrderItem.itemTotal}}
                            </td>
                            <td>
                                <table class="table table-condensed table-striped" ng-show="foodOrderItem.toppings">
                                    <tbody>
                                        <tr ng-repeat="itemTopping in foodOrderItem.toppings">           
                                            <td>{{itemTopping.name}}</td>
                                            <td>${{itemTopping.price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#toppingModal" OpenLargeModal class="btn btn-warning" ng-click="editItem(foodOrderItem.id)">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="deleteItem(foodOrderItem.id)">Delete</button>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" id="comment">{{foodOrderItem.comments}}</textarea>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                <h4>The order total is: &#36;{{orderTotalFormatted}}</h4>
            </div>
              <div class="modal fade" id="toppingModal" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3 class="modal-title">What do they want on their {{toppingFilter}}?</h3>
                    </div>
                    <div class="modal-body">                        
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        <md-checkbox                                             
                                            ng-checked="isAllSelected()"
                                            md-indeterminate="isIndeterminate()"
                                            ng-click="toggleAllItems()">
                                            {{ (isAllSelected()) || (isIndeterminate()) ? 'Clear All' : 'Select All' }}
                                        </md-checkbox>
                                    </th>  
                                    <th>Topping Name</th>
                                    <th>Topping Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="topping in toppingsList | filter:{product: toppingFilter}">
                                    <td><md-checkbox ng-model="topping.selected"></md-checkbox></td>
                                    <td>{{topping.name}}</td>
                                    <td>${{topping.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>How many do they want?</h4>
                        <br>
                        <input class="input-box" type="number" min="1" max="5"/>
                    </div>
                        <div class="modal-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="completeItem()">Order</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>