@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    background-color: #FFFFFF;
    text-align: center;
}

#body {width: 100%;}
#body h2 {color: #3E4348; font-family: 'Montserrat', sans-serif;}

header {
    font-family: 'Montserrat', sans-serif;
}

button {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

orderItemsBox {
  border: 1px solid rgb(41, 41, 41)
} 

md-checkbox.md-checked.blue .md-icon  { 
    background-color: #3F51B5; 
}

.modal {
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
    text-transform: capitalize;
}

button,html,input,select,textarea {
    font-family: 'Montserrat', sans-serif;
}

.input-box {
    width: 60px;
    height: 30px;
}   