@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    background-color: #FFFFFF;
    text-align: center;
}

#body {width: 100%;}
#body h2 {color: #3E4348; font-family: 'Montserrat', sans-serif;}

header {
    font-family: 'Montserrat', sans-serif;
}

button {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

orderItemsBox {
  border: 1px solid rgb(41, 41, 41)
}

.header-top{
    float: left;
} 
  
.headerItem{
    width: 150px;
} 

md-checkbox.md-checked.#3F51B5 ._md-icon { 
    background-color: #3F51B5; 
}
    
.input-box {
    width: 60px;
    height: 30px;
}   